#ignore Enviroment variables
.env.tmp
**/.env
.env
.settings/
secrets/
.vscode/
*.log
.tmp_extract
# services/authentication-service
# services/backend-service
# services/dns-service
# services/frontend-service
# services/game-service
# services/nginx-service
# services/user-management-service
